dialog.politician-modal.mdl-dialog
  button.mdl-button--icon.mdl-button.close(data-close)
    i.material-icons.md-14 close

  .politician-avatar
    .mdl-list__item-avatar.avatar(data-dialog, style='background-image: url(#{politician.pictureURL})')
      i.material-icons

    h1= politician.fullname
    if politician.bio
      p= politician.bio

    .politician-state
      if politician.jurisdiction
        p= politician.jurisdiction.name
      i.material-icons.md-7 fiber_manual_record
      if politician.appoinment
        p.party= politician.appoinment
      if politician.party
        p.party= politician.party

    if politician.social
      .contact
        if politician.social.facebook
          a(href=politician.social.facebook, target="_blank")
            img(src='../politician-modal/facebook.svg' alt='Facebook Logo' height='17')
        if politician.social.twitter
          a(href=politician.social.twitter target='_blank')
            img(src='../politician-modal/twitter.svg' alt='Facebook Logo' height='17')
        if politician.social.email
          a(href="mailto:#{politician.social.email}" target='_blank')
            img(src='../politician-modal/email.svg' alt='Facebook Logo' height='17')

  //-
    .politician-work
      .comisiones
        h4 Comisiones
        ul
          li Asuntos Constitucionales
          li Asuntos Constitucionales
      .divider
      .bill-project
        h4 Proyectos
        ul
          each val in [1, 2]
            li= val
