.bills-stages-sidebar.mdl-layout__drawer.translate-none(data-stages-sidebar)
  a.mdl-navigation__link(href='/')
    .mdl-layout-title
      img.logo(src='/assets/logo-white.png', alt='Hecha la Ley')

  nav.mdl-navigation
    .vertical-line
      each stage, index in stages
        - if (index === 0) continue
        .color-line(data-stage-line, stage-id='#{stage._id}')
    each stage, index in stages
      a.mdl-navigation__link.stage(
        stage-id='#{stage._id}',
        stage-contents-id='#{stage.stageID}',
        previous-stage-id='#{index > 0 ? stages[index-1]._id : ""}',
        previous-stage-contents-id='#{index > 0 ? stages[index-1].stageID : ""}',
        data-stage-link)
        .stage-circle
        p.stage-date= moment(stage.stageDate).locale('es').format('LL')
        h5.stage-title= stage.title
        p.stage-overview Some bill change overview.
