.bills.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.mdl-layout__header
    .bill-title-container

      include ./bill-nav

      h1 Servicios de comunicación audiovisual

      .switch-container.active
        p.text
          span.text-activate Activar compración
          span.text-deactivate Desactivar compración

        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-1")
          input#switch-1.mdl-switch__input(type="checkbox")
          span.mdl-switch__labelb

  .bills-stages-sidebar.mdl-layout__drawer(data-stages-sidebar)
    span.mdl-layout-title
      a.mdl-navigation__link(href='/')
        h1 Bill Tracker
    nav.mdl-navigation
      each stage, index in stages
        a.mdl-navigation__link(stage-id='#{stage.stageID}', previous-stage-id='#{index > 0 ? stages[index-1].stageID : ""}', stage-link)
          p= moment(stage.stageDate).locale('es').format('LL')
          h5= stage.title

  include ./author

  main.mdl-layout__content
    .bill-body
      h3 TÍTULO 1 . DISPOSICIONES GENERALES
      h4 Capítulo 1 - Objeto
      h5 Articulo 1º
      div(bill-contents)
        each diff in diffs
          span(class = diff.isAddition ? 'addition': diff.isDeletion ? 'deletion' : '') #{diff.contents}
          br
