.bills.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.mdl-layout__header
    h1 #{bill.title}
  .bills-stages-sidebar.mdl-layout__drawer(data-stages-sidebar)
    span.mdl-layout-title
      a.mdl-navigation__link(href='/') Bill Tracker
    nav.mdl-navigation
      each stage, index in stages
        a.mdl-navigation__link(stage-id='#{stage.stageID}', previous-stage-id='#{index > 0 ? stages[index-1].stageID : ""}', stage-link) <b>#{stage.title}</b> <br> #{moment(stage.stageDate).locale('es').format('LL')}
  .bills-author.mdl-layout__drawer
    span.mdl-layout-title Author
    .author
      h1 #{author.fullname}
      i.material-icons.mdl-list__item-avatar person

    .demo-list-action.mdl-list
      .mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          Bryan Cranston
        a.mdl-list__item-secondary-action(href='#'): i.material-icons star
      .mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          Bryan Cranston
        a.mdl-list__item-secondary-action(href='#'): i.material-icons star
      .mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          Bryan Cranston
        a.mdl-list__item-secondary-action(href='#'): i.material-icons star

  main.mdl-layout__content
    h3(stage-header) #{modificationCount}
    div(bill-contents)
      each diff in diffs
        span(class = diff.isAddition ? 'addition': diff.isDeletion ? 'deletion' : '') #{diff.contents}
        br
