mixin bill-card(bill)
  - var currentStage = bill.stages[bill.stages.length - 1] || {}
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.cards-width
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text
        small.bill-leg #{currentStage.identification}
        | #{bill.title}
    .mdl-card__supporting-text
      strong #{currentStage.title}
      | #{bill.summary}
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href='/bills/#{bill._id}')
        | Ver proyecto

main.home
  .home-cover
    img.logo(src='/assets/logo.png', alt='Hecha la Ley')
    p Una aplicación que permite realizar seguimiento a los proyectos de ley que se debaten en el Congreso. Examiná el trabajo legislativo de una manera clara y sencilla.
    a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href='#bills')
      | Ver proyectos
    div
      i.material-icons.md-24 keyboard_arrow_down

  #bills.home-bills.mdl-grid
    each bill in bills
      +bill-card(bill)

  footer.mdl-mini-footer
    .mdl-mini-footer__left-section
      .mdl-logo Bill Tracker
      //-
        ul.mdl-mini-footer__link-list
          li: a(href='#') Help
          li: a(href='#') Privacy &amp; Terms
